#跳过具有如下标签的文件件与文件
*wmtag_memo_git_do_not_commit_this*
*wmtag_memo_git_do_not_commit_this*/
# 跳过所有的8042开头的临时文件夹
/*8042*wmtemp*/
*8042*wmtemp*/

#这里是短格式
#跳过具有如下标签的文件夹与文件
*wmgitignore*
*wmgitignore*/

### git commit 保存 VS Code 文件夹等 ###
!.vscode/
!.vscode

# 一定要保留go mod的定义文件
!go.mod

# 一定要保留go work的定义文件
!go.work

#这里是go build等输出的可执行文件的特征值
*wmbin_go_out*
*wmbin_go_out*/

#这里是各种build等输出的可执行文件的特征值
*wmbin_out*
*wmbin_out*/

# ===========================分割线================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
package*.json
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
venv/
ENV/

# MkDocs documentation
site*/
